In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/job_listings_raw.csv")

In [3]:
df.shape

(22000, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              21996 non-null  object
 1   education            20004 non-null  object
 2   experience           21996 non-null  object
 3   industry             21995 non-null  object
 4   jobdescription       21996 non-null  object
 5   jobid                22000 non-null  int64
 6   joblocation_address  21499 non-null  object
 7   jobtitle             22000 non-null  object
 8   numberofpositions    4464 non-null   float64
 9   payrate              21903 non-null  object
 10  postdate             21977 non-null  object
 11  site_name            3987 non-null   object
 12  skills               21472 non-null  object
 13  uniq_id              22000 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 2.3+ MB

In [6]:
df.isna().sum().sort_values(ascending =False)

site_name              18013
numberofpositions      17536
education               1996
skills                   528
joblocation_address      501
payrate                   97
postdate                  23
industry                   5
company                    4
experience                 4
jobdescription             4
jobid                      0
jobtitle                   0
uniq_id                    0
dtype: int64