In [1]:
import requests

url = "https://books.toscrape.com/"
response = requests.get(url)

for i in range(1, 51):
    a = requests.get(f"https://books.toscrape.com/catalogue/page-{i}.html")
    with open(f"Html/page{i}.html","w",encoding="utf-8")as f:
        f.write(a.text)
        print(f"Downloaded file {i} ")

Downloaded file 1
Downloaded file 2
Downloaded file 3
Downloaded file 4
Downloaded file 5
Downloaded file 6
Downloaded file 7
Downloaded file 8
Downloaded file 9
Downloaded file 10
Downloaded file 11
Downloaded file 12
Downloaded file 13
Downloaded file 14
Downloaded file 15
Downloaded file 16
Downloaded file 17
Downloaded file 18
Downloaded file 19
Downloaded file 20
Downloaded file 21
Downloaded file 22
Downloaded file 23
Downloaded file 24
Downloaded file 25
Downloaded file 26
Downloaded file 27
Downloaded file 28
Downloaded file 29
Downloaded file 30
Downloaded file 31
Downloaded file 32
Downloaded file 33
Downloaded file 34
Downloaded file 35
Downloaded file 36
Downloaded file 37
Downloaded file 38
Downloaded file 39
Downloaded file 40
Downloaded file 41
Downloaded file 42
Downloaded file 43
Downloaded file 44
Downloaded file 45
Downloaded file 46
Downloaded file 47
Downloaded file 48
Downloaded file 49
Downloaded file 50

In [2]:
from bs4 import BeautifulSoup
with open("Html/page1.html") as f:
    content = f.read()

In [3]:
soup = BeautifulSoup(response.text, "html.parser")

In [4]:
h3s = soup.find_all("h3")

In [5]:
articles = soup.select("article.product_pod")

In [6]:
items = []
for article in articles:
    title = article.find("h3").find("a")["title"]
    price = article.select_one("p.price_color").text.split("Â£")[1]
    rating_element = article.select_one("p.star-rating")
    rating = rating_element['class'][1]
    items.append([title,price,rating])

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(items,columns=["Books Title","Price In Euro","Ratings"])
df

                                          Books Title Price In Euro Ratings
0                                A Light in the Attic         51.77   Three
1                                  Tipping the Velvet         53.74     One
2                                          Soumission         50.10     One
3                                       Sharp Objects         47.82    Four
4               Sapiens: A Brief History of Humankind         54.23    Five
5                                     The Requiem Red         22.65     One
6   The Dirty Little Secrets of Getting Your Dream...         33.34    Four
7   The Coming Woman: A Novel Based on the Life of...         17.93   Three
8   The Boys in the Boat: Nine Americans and Their...         22.60    Four
9                                     The Black Maria         52.15     One
10     Starving Hearts (Triangular Trade Trilogy, #1)         13.99     Two
11                              Shakespeare's Sonnets         20.66    Four
12                                        Set Me Free         17.46    Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...         52.29    Five
14                          Rip it Up and Start Again         35.02    Five
15  Our Band Could Be Your Life: Scenes from the A...         57.25   Three
16                                               Olio         23.88     One
17  Mesaerion: The Best Science Fiction Stories 18...         37.59     One
18                       Libertarianism for Beginners         51.33     Two
19                            It's Only the Himalayas         45.17     Two

In [9]:
df.to_csv("Data.csv",index=False)